<div>
  <h1>Hii, this {{title}}</h1>
</div>
<hr>
    <h2>Here are some links</h2>
<app-servers></app-servers>
<!-- <button class = 'btn btn-primary' (click)="showSecret =!showSecret" >Display Details</button> -->
<button class = 'btn btn-primary' (click)='onToggleDetail()' >Display Details</button> 
<p *ngIf = "showSecret">secret password=tuna</p>
<div 
*ngFor = 'let logItem of log'
[ngStyle]="{backgroundColor : logItem >=5 ? 'blue': 'transparent'}"
[ngClass]="{'white-text' : logItem >=5}"> 
  {{ logItem }} 
  <button>b1</button>
</div>